<!-- about.component.html -- Ryan Watson -- 300920674 -- 02/06/19 -->
<div class="top">
    <div class="container">
        <h1 class="text-left"><i class="fas fa-portrait"></i> {{title}}</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm-8">
                <h4>I am a full stack developer, with a focus on Health IT. Some of my skills include working with MEAN, FHIR HL7, Smile CDR, Docker, and other new technologies. I really enjoy fitness, running, reading, learning languages and discovering
                    new cultures. Looking forward to chatting with you!<br />
                    <a href="../../assets/Resume_RyanWatson (EN).pdf">You can find my resume here.</a></h4>
                <hr class="my-4">
                <h4>Je suis programmeur de full stack (front end, back end, database), en se concentrant sur informatique de la sant&#233;. Mes comp&#233;tences sont avec MEAN, FHIR HL7, Smile CDR, Docker, et d'autres technologies. J'aime bien faire du sport,
                    courir, lire, apprendre des langues et decouvrir des nouveaux cultures. J'ai hate de vous parler!<br />
                    <a href="../../assets/Resume_RyanWatson (EN).pdf">Vous pouvez trouver mon CV ici.</a></h4><br />
                <a type="button" class="btn btn-primary btn-lg" href="/contact">Get in Touch / Contactez Moi</a>
            </div>
            <div class="col-sm-4">
                <img class='rounded-circle img-right' src="../../assets/me.jpg">
            </div>
        </div>
    </div>
</div>