<!-- home.component.html -- Ryan Watson -- 300920674 -- 02/06/19 -->
<div class="jumbotron top">
    <div class="container">
        <img class="homeLogo" src="../../assets/logo.png">
        <h1 class="display-4">{{title}}</h1>
        <h2 class="lead">A software engineer for your software engineering needs.</h2>
        <h3 class="lead">My business is to provide you with the tools to help you stand out and compete in the marketplace.</h3>
        <hr class="my-4">
        <p class="lead">Find what you're looking for below...</p>
        <a type="button" class="btn btn-primary btn-lg" routerLinkActive="active" routerLink="/about"><i class="fas fa-portrait"></i> About Me</a>
        <a type="button" class="btn btn-primary btn-lg" routerLinkActive="active" routerLink="/projects"><i class="fas fa-briefcase"></i> Past Projects</a>
        <a type="button" class="btn btn-primary btn-lg" routerLinkActive="active" routerLink="/services"><i class="fas fa-concierge-bell"></i> Services</a>
        <a type="button" class="btn btn-primary btn-lg" routerLinkActive="active" routerLink="/contact"><i class="fa fa-envelope"></i> Contact Me</a>
    </div>
</div>