/* contact.component.css -- Ryan Watson -- 300920674 -- 02/06/19  */


/* styling for contact page content, button, and logo */

.top {
    margin-top: 7em;
}

.btn {
    background-color: #03A9F4;
    box-shadow: 2px 2px 4px #000000;
    margin-right: 1em;
}

.homeLogo {
    width: auto;
    height: 10em;
    margin-right: 1em;
    margin-bottom: 1em;
    object-fit: contain;
}