<!-- projects.component.html -- Ryan Watson -- 300920674 -- 02/06/19 -->
<div class="top text-center">
    <h1><i class="fas fa-briefcase"></i> {{title}}</h1>
    <hr class="my-4">
    <h2>Check out some of the projects I have completed below...</h2> <br />
</div>
<div class="container-fluid text-center">
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="../../assets/realEstate.jpeg">
                <h3><strong>Real Estate Website</strong></h3>
                <h4>Meet Ross and his properties</h4>
                <p>This project was to create a website for Ross to showcase the real estate he had for sale.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="../../assets/pokemon.jpg">
                <h3><strong>Pokémon Game</strong></h3>
                <h4>Can you catch 'em all?</h4>
                <p>This is a small interactive JavaScript game for lovers of Pokemon.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="../../assets/bmr.jpg">
                <h3><strong>BMR Calculator</strong></h3>
                <h4>Find out your daily caloric intake</h4>
                <p>This is a TDEE calculator for the daily amount of calories you can consume to maintain your current body weight.</p>
            </div>
        </div>
    </div>
</div>