/* projects.component.css -- Ryan Watson -- 300920674 -- 02/06/19  */


/* styles for projects page content, and thumbnail images */

.top {
    margin-top: 7em;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}