<!-- services.component.html -- Ryan Watson -- 300920674 -- 02/06/19 -->
<div class="top text-center">
    <h1><i class="fas fa-concierge-bell"></i> {{title}}</h1>
    <hr class="my-4">
    <p>Below are most of the services that I provide...</p><br />
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <i class="fab fa-html5"></i>
                <h4>HTML5</h4>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-css3"></i>
                <h4>CSS3</h4>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-js-square"></i>
                <h4>JavaScript</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-hashtag"></i>
                <h4>C#</h4>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-coffee"></i>
                <h4>Java</h4>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-server"></i>
                <h4>PHP</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <i class="fab fa-windows"></i>
                <h4>ASP.Net</h4>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-database"></i>
                <h4>Oracle SQL</h4>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-wrench"></i>
                <h4>Object-Oriented Methodologies</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-fire" aria-hidden="true"></i>
                <h4>FHIR</h4>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-file-medical" aria-hidden="true"></i>
                <h4>Smile CDR</h4>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-docker" aria-hidden="true"></i>
                <h4>Docker</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <i class="fab fa-angular" aria-hidden="true"></i>
                <h4>MEAN Stack</h4>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <h4>NGINX</h4>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-connectdevelop" aria-hidden="true"></i>
                <h4>Agile Development</h4>
            </div>
        </div>
    </div>
</div>